.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.item {
  margin-bottom: 15px;
}
.item a {
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
  text-decoration: none;
}
.item a:hover {
  text-decoration: none;
  color: red;
  transition: .5s ease-in-out;
}
.item a.activeLink {
  color: gold;
  text-decoration: none;
  font-weight: bold;
}